[2016-04-21 22:23] xmatthewx opened #1 "Mozilla Brand Session"
In conjuncture with MoCo. Useful to have MoFo comms and designers present. Details coming soon.

[2016-04-22 00:43] hannahkane opened #2 "Production Roadmap Intro"
## Description:
- Introduce the body of work and large quarterly timelines as they relate to organizational goals
- Set up the next session (production roadmap breakout groups)

### Time requirements:
1 hour, needs to be before Production Roadmap Breakout Groups

### Space requirements:
Should seat about 25 ppl

### Required attendees:
 - All Designers and Engineers

### Optional attendees:
Stakeh

[2016-04-22 00:50] hannahkane opened #3 "Production Roadmap Breakout Groups (2 sessions)"
## Description:
We'll break out into our three production teams (Organizing, Content, Convenings) and dig into the H2 projects for each.
    Program people help us intro the 3 areas (attend first of two sessions)

    Teams dig into their understanding of goals, priorities,

    might be good to split across two days. time for digestion.

    Is there output here? preparing for the shareouts? Road

[2016-04-22 00:54] hannahkane opened #4 "Production Roadmap Shareouts"
## Description:
Each of the three production teams will present their high-level goals and priorities, and a shared vision for their part of the roadmap.

Q and A

### Time requirements:
2 hours, needs to happen after [Production Roadmap Breakout Groups](https://github.com/MozillaFoundation/MoFoLondon/issues/3)

### Space requirements:
Room for ~25 people

### Required attendees:
All Designers and

[2016-04-22 00:57] hannahkane opened #5 "Production Team: Process"
## Description:
Priority for production team are the other three sessions. If we don't have time for everything, this should be the first one to go.

- Big team retrospective on the heartbeat process
- Identify process experiments we want to try OR respond to a proposal (TBD)

### Time requirements:
1 hour

### Space requirements:
Space for ~ 25 ppl

### Required attendees:
All Designers and Engin

[2016-04-29 18:07] xmatthewx commented on #1
@lovegushwa – post any question/ideas about Brand/Identity related things here. Connect with @ldecoursy to win.

Thoughts:
 - wait for moco to schedule things?
 - propose a timeslot to moco?
 - propose an elective to lead a thing (see email)

Beyond this, if we want any design team time, we should file that as a separate issue.

[2016-05-02 14:17] kaythaney opened #6 "Open Leadership Curriculum"
## Description:

This will be a walk through of the first cut of the Open Leaderhship curriculum that Chad and Zannah have been working on, including a quick overview followed by a deep dive into a number of the modules. Looking for others to join to provide feedback, talk about implementation and testing with their communities to create a shared experience across Mozilla, and discuss next steps.

[2016-05-02 14:23] kaythaney opened #7 "MoFo Fellowship Planning"
## Description:

Time for the Science and Open Web Fellow / Advocacy hub team to dig into a shared fellowship strategy for MLN, including planning for shared, joint onboarding for Year 2 Fellows, resourcing, partnership strategy and cross-program collaboration.

### Time requirements:

1-2 hours.

### Space requirements:

Space with flipchart / sticky notes.

### Required attendees:

Science team

[2016-05-02 14:40] kaythaney opened #8 "Community engagement: Study Groups, Mozilla Clubs, + cohorts"
## Description:

We'll be digging into onboarding plans for both programs, infrastructure needs for community-driven events + resource creation, and looking at opportunities to connect across program / region.

### Time requirements:

1-2h.

### Space requirements:

Flipcharts + sticky notes.

### Required attendees:

MSL: @auremoser , @zee-moz , @arlissc + 2 MSL volunteers (Anna + Rob)

Clubs: @a

[2016-05-02 17:24] OpenMatt commented on #8
@kaythaney do you have a preference in terms of which day you do this?

[2016-05-02 17:25] OpenMatt commented on #6
@kaythaney got a preferred day for this? or are you flexible?

[2016-05-02 17:31] OpenMatt commented on #1
@xmatthewx can you document a goal or outcome you want from this?

[2016-05-02 17:39] stephwright opened #9 "Open Data Curriculum"
## Description:
Walk through of the Open Data curriculum that @stephwright and @zee-moz have been working on.  This will be an overview of the plan for the whole curriculum plus a look at the first three primers and related teaching modules with exercises that have been developed so far. Looking for others to join into provide feedback, talk about delivery methods and discuss next steps.

### Time

[2016-05-02 18:18] kaythaney commented on #6
before the study groups, clubs and cohorts session + earlier in the week,
the better IMO.

On Mon, May 2, 2016 at 1:25 PM, OpenMatt notifications@github.com wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2016-05-02 18:30] kaythaney opened #10 "Convenings Strategy"
## Description:

This session will dig into convenings strategy for the remainder of 2016, as well as dig into how convenings map to increased activity + engagement from communities, and ultimately retention.

### Time requirements:

1-2h.

### Space requirements:

n/a

### Required attendees:

@Saallen , @edrushka , @arlissc , @adamlofting

### Optional attendees:

All others running convenings,

[2016-05-02 19:18] OpenMatt commented on #10
@kaythaney I updated the title to try and be more specific about the outcome -- please amend it if that's wrong

[2016-05-02 19:23] kaythaney commented on #10
thanks! looks great.

[2016-05-02 21:14] mcdermott415 opened #11 "Learning Hub: Team Building"
## Description:
This session brings together staff and affiliated roles of the Learning Hub to build our team, from setting expectations and lines of communication, to H2 questions and deliverables. Essential to building positive team dynamics, taking advantage of in-person time.

### Time requirements:
2 hrs

### Space requirements
16 pple, walls for posting

### Required attendees:
@simonaramkis

[2016-05-02 21:41] mcdermott415 opened #12 "Learning Hub: H2 Planning"
## Description:
"Building Bridges by Design" will take forethought and calendaring! We need in-person space to talk through and plan for H2 activities and achievements.

### Time requirements:
3 hrs

### Space requirements:
Enough for 16 pple

### Required attendees:
@simonaramkisson @samueledyson @hanasun @jvallera @jenntbeard @omnignorant @kenyatta @chadsansing @jamjwait @soapdog @amirad

### Op

[2016-05-03 09:53] Saallen commented on #10
This sounds great- let me know how I can be most effective as a participant- ie do you want me to bring documents, share other events strategies etc

[2016-05-03 17:07] samanthaburton opened #13 "State of the Web: harvesting stories related to Mozilla's issues platform"
## Description:
In 2016, Mozilla will launch the MVP of a flagship annual State of the Web report, which will provide a compelling, credible and broadly accessible source of information on the state of key Internet issues. [[more in this draft brief](https://docs.google.com/document/d/1F2pOrv7h3idwM-7W9ojHFhVDcptrba_ChwwLJ0iIz7E/edit#)]

The five issues Mozilla is focused on are: web literacy, dig

[2016-05-03 20:47] mcdermott415 commented on #11
Another hour wold be great, maybe even on another day to open and close the work week.

[2016-05-04 16:51] anmechung opened #14 "MLN: Fundraising and Grant Management 101"
## Description:

### Time requirements:

### Space requirements:

### Required attendees:

### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)

[2016-05-04 16:53] HolaHewitt opened #15 "Practical guide to Operations at MoFo"
Description:
We get many many requests about practical matter that may or may not be on the Mana or people just need one on one info to make things clearer.  As there are many new people, this could be an easy way to get people more comfortable on the who, what, when, where and why's or operational tasks.

For example: booking guests on Egencia, why flights sometime get denied, expense reporting,

[2016-05-04 17:09] HolaHewitt opened #16 "Increasing your Financial Literacy"
## Description:
Part of my capstone project is to build and or increase financial literacy at Mofo.
There could be several focus's of this session, and depending on input form this group, could shape the main topic.(could also piggy back off others)

Possibilities:
How to read a grant proposal from a financial point of view
How to estimate financial costs for grants or departments
How to budget a

[2016-05-04 17:22] valianttry opened #17 "Advocacy Hack + Build: Q3 - 4 Campaigns"
## Description:
H2 advocacy campaigns: Work, build, and planning sessions (including Fundraising)

### Time requirements:
At least 2 hours (as much time as we can get!)

### Space requirements:
Room for 12-15 people

### Required attendees:
"Brett Gaylor" <brett@mozillafoundation.org>,
"Jordan Gushwa" <jordan@mozillafoundation.org>,
"Kevin Zawacki" <kevin@mozillafoundation.org>,
"Maryam Mikaniki"

[2016-05-04 17:23] valianttry opened #18 "Maker Party Plan + Build"
## Description:

### Time requirements:

### Space requirements:

### Required attendees:

### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)

[2016-05-04 17:27] valianttry opened #19 "CRM: what's coming? when? what does that mean?"
(Full Team Session or smaller breakouts people can attend?)

## Description:
What magical thing is a CRM and how might it impact work in the future? It will help to provide some examples of how Salesforce might influence our work and help us measure impact. We could invite Andrew from MoCo to provide a roadmap update / status / rollout plan. (Stephanie McVicker is our CRM liaison and can help plan

[2016-05-04 17:35] mcdermott415 opened #20 "Learning Hub: Hive Networks Deep Dive"
## Description:
Focused time for Hives to share cross city opportunities for H2, with emphasis on curriculum and convening activities.

### Time requirements:
1-2 hrs

### Space requirements:
8-10 pple

### Required attendees:
@simonaramkisson @samueledyson @hanasun @jvallera @jenntbeard @omnignorant @kenyatta @chadsansing @jamjwait

### Optional attendees:

### Dependencies: (Other sessions that

[2016-05-04 17:45] valianttry opened #21 ""Stuff our Customers Say" -- various teams share real feedback / insights we get from the communities we serve"
## Description:
CRAZY IDEA: Share quotes, surveys, real-talk from our constituents. We do a lot of research, surveys, and feedback loops these days... what are we learning?

### Time requirements:

### Space requirements:

### Required attendees:

### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)

[2016-05-04 21:38] mcdermott415 opened #22 "Learning Hub: Clubs Deep Dive"
## Description:
Holding this space for Amira to determine how she'd like to use with her Clubs team and volunteers.

### Time requirements:
1hr

### Space requirements:

### Required attendees:

### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)

[2016-05-04 23:52] valianttry opened #23 "User Manuals: how to create them so we can work better together in our teams"
## Description:
If there's interest I can facilitate this for the whole org :)
See: https://docs.google.com/document/d/1W4_T8oiB5NMaOhhNV0-yNkTelu0c5uTkb2W3D-ts2-w/edit

### Time requirements:

### Space requirements:

### Required attendees:

### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)

[2016-05-05 16:17] chadsansing opened #24 "Mozilla Curriculum Workshop episode"
## Description:
June 14th broadcast of the Mozilla Curriculum Workshop focusing on summer learning about maker education, participatory learning, and web literacy. Will feature MozFest, its call for proposals, and past sessions/workshops as examples of events, practices and spaces we can study this summer to level up our teaching practices.

### Time requirements:
One hour. Ideally, 5-6 PM local t

[2016-05-05 19:22] ldecoursy commented on #20
@mcdermott415 Is this for each day, or do you have a preference for when in the week this happens?

[2016-05-05 20:07] shaghdoosti opened #25 "Copyright campaign cross collaboration and planning"
## Description:  We're going to be launching a copyright campaign in H2. Would love to work with varies teams to create a plan around that.

### Time requirements: 2 hours.

### Space requirements: 20 - 30 people

### Required attendees: Raegan (policy team) , Sara (advocacy), Andrea  (advocacy), George (participation), MEM (Marketing), Gregory (Marketing), Amira (Clubs, Mofo), Brett (advocacy), P

[2016-05-05 21:00] ldecoursy commented on #14
@anmechung Can you add more details about how much time you need and who you'd like to attend - will help as we start to put together the schedule. Thanks!

[2016-05-05 21:03] ldecoursy opened #26 "Leadership Network: Team Kick-Off"
## Description:
Gather all MLN staff at the beginning of the week for team-building, reviewing the arc of the week, expectations, etc.

### Time requirements:
1-2 hours

### Space requirements:
Need large space for 50-ish people

### Required attendees:
MLN staff & volunteers

### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)
Should happen Tuesday end

[2016-05-05 23:35] mcdermott415 commented on #20
I'd love for it to come middle to end of week, but any place we can squeeze 2 hours is welcome!

[2016-05-06 00:29] mcdermott415 commented on #20
and of course, if we can get an hour a day, i'll take it.

[2016-05-06 19:05] acabunoc opened #27 "Working Open Workshop: Chicago planning"
## Description:

### Time requirements:
60min

### Space requirements:

### Required attendees:
@arlissc @acabunoc

### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)

[2016-05-06 19:07] kaythaney opened #28 "Science Lab H2 Planning"
## Description:

Science Lab team time, to reflect on H1 work, and plan for H2.

### Time requirements:

2-3hr

### Space requirements:

n/a

### Required attendees:

Science Lab team + Science volunteers + Fellow (Rob, Anna, Christie).

### Optional attendees:

n/a

### Dependencies: (Other sessions that need to happen before this one)

n/a

[2016-05-06 19:23] zee-moz opened #29 "MSL Study Group Onboarding Planning Session"
## Description:
This is a planning session to create an MSL study group onboarding curriculum/training experience, to help new study group leads successfully start up, sustain and grow groups.

### Time requirements:
2-3 hours

### Space requirements:
small meeting room or space

### Required attendees:
@arlissc @auremoser our volunteer and U of MN SG lead Rob Schaefer

### Optional attendees:
@ac

[2016-05-09 11:42] samanthaburton opened #30 "Designing Strategy 2020"
## Description:
By the time we hit London, we'll have a solid draft of our 2020 Strategy (v 1.0) - but to bring our vision to life, we need strong design. We'd like to start brainstorming about how we can make our strategy beautifully and compelling through design. How do we make our plan something we'd be able to explain in a poster that we'd be proud to frame?

### Time requirements: 90-120 minu

[2016-05-09 15:28] edrushka opened #31 "MozFest 2016"
## Description:
Sarah and Erika will host a session about MozFest 2016. We'll share what happened at the retreat, the timeline, what we know, and what we don't know. We'll also provide an opportunity for MoFo's to contribute planning ideas to this year's festival in a light-weight way (e.g. crowd-sourcing ideas for what to do on Saturday night).

### Time requirements:
An hour should be fine.
###

[2016-05-09 15:31] Saallen opened #32 "MozFest Stakeholders meeting"
## Description:
Designing MozFest for 2017 and beyond.
Big picture scope with the question should we move locations for 2017, who are we designing for, and if we will hold one MozFest or coordinate many smaller MozFest around the world.

### Time requirements:
2 hours

### Space requirements:
Round table set up

### Required attendees:
Angela P, Chris L, David A, Mark S and Erika D

### Optional a

[2016-05-09 17:49] xmatthewx commented on #30
Excellent. I would add Jordan and Kristina as required. Paul, Adam, and Kevin would be very useful. Other designers as optional.

[2016-05-09 17:52] xmatthewx commented on #1
@lovegushwa @HPaulJohnson – any news of MoCo plans for brand identity discussions? If there's nothing clear yet for us to hook into, we should devise a plan of our own. Kristina, Jordan, and Paul could facilitate a MoFo identity discussion.

[2016-05-10 20:24] zee-moz opened #33 "Leadership Curriculum Video/Photo Booth"
## Description:
Designated space and time for staff and community members to create short videos or take photos for use in the Leadership Curriculum.

### Time requirements:
2 1-hour long sessions

### Space requirements:
Relatively quiet alcove or semi-enclosed area where video recording can happen (with possibility of hanging backdrop)

### Required attendees:
@chadsansing @zee-moz, list of subj

[2016-05-10 22:10] mcdermott415 opened #34 "MozFest Learning Space"
## Description:
Focused time to plan and build out the Learning Space at MozFest

### Time requirements:
1-2 hours

### Space requirements:
6 pple

### Required attendees:
@omnignorant and volunteer attendees

### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)

[2016-05-10 22:31] omnignorant commented on #34
Thanks @mcdermott415 for getting this started for me! I added some other folks who would be interested!

[2016-05-10 22:40] valianttry commented on #25
Just flagging this is a relatively high priority from an advocacy perspective (critical to our H2 strategy)

[2016-05-11 19:15] ldecoursy commented on #26
May just do this via a staff call the week before instead.

[2016-05-11 19:18] ldecoursy commented on #23
cc @OpenMatt

[2016-05-11 19:19] ldecoursy commented on #21
cc @OpenMatt @adamlofting Interested in fleshing this out as it relates to surveys underway, stories as data, etc?

[2016-05-11 19:30] ldecoursy commented on #29
@zee-moz Is this separate from #8 that @kaythaney filed?

[2016-05-11 20:24] zee-moz commented on #29
yes, separate sessions.
thanks!
z

On Wed, May 11, 2016 at 3:30 PM, Lainie DeCoursy notifications@github.com
wrote:

[2016-05-12 16:15] ldecoursy commented on #32
More likely to happen if one hour, per @chrislarry33

[2016-05-12 16:25] edrushka commented on #32
I edited the original comment. This is a long conversation, but better to have 1 hour than nothing at all.

[2016-05-12 19:07] edrushka commented on #10
Hey @kaythaney can you provide a little more detail about what you'd like to accomplish in this session? Do you have specific activities/discussions in mind?

[2016-05-12 19:13] ldecoursy commented on #8
@hannahkane

[2016-05-12 19:19] edrushka opened #35 "Ravensbourne Field Trip"
## Description:
We'll take a design-centered field trip to Ravensbourne to envision how we'll use the space for MozFest 2016 (for design, wayfinding, alternatives-to-mainstage (currently known as 'salons'. final name tbd), info cafes etc)

### Time requirements:
2 hours.
If we go later in the day on Tuesday, Luca - our partner from the Tate - can join us.

### Space requirements:
None. Off site.

[2016-05-12 19:59] KevZawacki commented on #35
@edrushka I'm in!

[2016-05-12 20:24] lovegushwa commented on #35
@edrushka sounds great!

[2016-05-12 20:57] kaythaney commented on #10
largely a placeholder, but with arliss moving into the data & metrics lead for MLN, would be great to sync up on program timelines, supports needed, and how best to track participation + retention. just my .02!

[2016-05-12 22:54] hannahkane commented on #8
@kaythaney - is this the one where you'd like for representatives from the Production team to show up?

[2016-05-13 12:08] Saallen commented on #35
There is one thing we should be aware of when we head over.....the Graduate show will be on so we will have to be aware of noise and distraction levels we could potentially bring. I will confirm with the college next week when we can access the space without being too disruptive 🔊

[2016-05-13 12:36] kaythaney commented on #8
the study group onboarding session will likely get more into curriculum delivery + design needs. this one could benefit from someone who could help dig into the infrastructure part for clubs/study group reporting, event management, training delivery. :)

sent on the move. apologies for typos.

[2016-05-13 14:35] amirad opened #36 "Mozilla Clubs for Women and Girls"
## Description:

Discuss Mozilla Club for Women and Girls program in Nairobi and Cape Town and how we can continue to build the program for success. What have we learned, how can we continue. Specific issues tbd.

### Time requirements:

2 hours (can be broken up into two 1 hour sessions)

### Space requirements:

Small space - nothing specific

### Required attendees:

Julia Vallera julia@mozilla

[2016-05-13 15:53] ldecoursy commented on #33
@zee-moz Can this happen before #6?

[2016-05-13 15:56] ldecoursy commented on #10
@kaythaney Should we rename this Data & Metrics for MLN? Who can help scope this so we can know when/where to put it into the sched? Sounds like maybe better for later in the week?

[2016-05-13 15:59] arlissc commented on #10
@kaythaney @ldecoursy - happy to work on scoping this if that fits :)

[2016-05-13 16:12] zee-moz commented on #33
might be preferable if it happened after @chadsansing what do you think?

[2016-05-13 16:28] kaythaney commented on #10
Sure! To Erika, though, are there other times where broader convenings
planning + strategy are happening? Or should we try to weave that in with
the data + metrics portion?

On Fri, May 13, 2016 at 11:59 AM, Arliss Collins notifications@github.com
wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2016-05-13 16:30] chadsansing commented on #33
Either works from my perspective. No guarantee the folks we'll get will make it to the testing session or that the testing session will add anything to what they have to say on their topics.

[2016-05-13 16:49] hannahkane commented on #8
I'd love for @sabrinang @flukeout and @Pomax to attend this session then. They make up the current "Organizing" team for MLN production, and this work falls squarely into that bucket. Will see if we can schedule it so that some of us can attend.

[2016-05-13 16:59] hannahkane commented on #29
@zee-moz - sounds like this is going to be mostly about content creation, but if it would be helpful to have someone from the production team there for part of it to participate in conversations about how the curriculum or training will be delivered, let me know. that could also likely be done in a follow-up after London, though.

[2016-05-13 18:37] ldecoursy commented on #24
Can this happen during Elective Time on Thursday?

[2016-05-13 18:43] chadsansing commented on #24
Thoughts, @amirad?

[2016-05-13 19:14] lovegushwa commented on #1
@xmatthewx nothing concrete yet from brand folks. I'm going to close this issues and open a MOFO design team session ticket.

[2016-05-13 19:32] lovegushwa commented on #1
## Description:

Part 1: Share design vision: Each designer gives a lightning talk about a design hero, where they see design going, and from these two things a quality, attribute or project Mozilla design should embrace. Our goal here is to expand our design vision as a group, and highlight ideas that could impact design across MOCO and MOFO.

Part 2: Mozilla rebrand hack: MOCO branding has defin

[2016-05-13 19:33] lovegushwa commented on #1
CC @OpenMatt

[2016-05-15 18:28] amirad commented on #24
I think that's fine!

[2016-05-16 18:35] soapdog commented on #8
Should we have someone who has been recently onboarded at this session to help us with what people need from their point of view?

[2016-05-16 18:35] soapdog commented on #34
:hamster: anxious for this :hamster:

[2016-05-16 21:28] xmatthewx commented on #35
w00t. It'd be great to have Luca with us.

[2016-05-17 22:13] LauraReynal opened #37 "Digital Skills Observatory - a major world-class breakthrouhg in research"
## Description:
As part of the DSO research project, we are studying the impact of **digital skills trainings** on the way that 150 first time smarpthone users discover the internet and use their phone. \

Join this session to learn more about the project results in Kenya. We want to share what we are learning and discuss with you, as we embark on the next 6 months of the study.

### Time requirem

[2016-05-18 14:09] OpenMatt commented on #13
@samanthaburton want to combine forces on what's documented around this work here?
http://mzl.la/london

[2016-05-18 16:57] OpenMatt commented on #31
@edrushka I'm excited to attend this! could you take another pass at:
- Clearly delineating how this is different from @Saallen's session here? https://github.com/MozillaFoundation/MoFoLondon/issues/32
- Give it a more descriptive title in terms of what will be delivered, decided or shared out? "MozFest 2016" isn't very specific.

[2016-05-18 16:59] OpenMatt commented on #30
@xmatthewx can you flag those people in the ticket so that they know and can respond?

[2016-05-18 17:01] OpenMatt commented on #26
@ldecoursy sounds like this is no longer needed right?

[2016-05-18 17:07] OpenMatt commented on #23
@valianttry I love this idea. Can you say more about the specific kinds of documentation you're hoping to produce? What's the ideal MoFo customer or use case for this session?

[2016-05-18 17:08] samanthaburton commented on #30
I've done so, for everyone except optional designers!

[2016-05-18 17:08] samanthaburton commented on #13
@OpenMatt yes!

[2016-05-18 17:10] OpenMatt commented on #21
yeah we have a bunch of this from the network survey for MLN.
and from desk.com. I _love_ the idea of thinking about ways we can pull patterns out.

would be great to share some of the stories we got through desk.com on the Advocacy side as well.

cc @samanthaburton as she is interested in this kind of content for State of the Web as well.

[2016-05-18 17:25] OpenMatt commented on #15
Is this maybe just about updating / adding to what @MandyRawls has already created in her on-boarding guide?

[2016-05-18 17:28] edrushka commented on #32
Clarifying that this is a high-level discussion about the future of MozFest. What is our long-term vision for the festival.

[2016-05-18 17:29] edrushka commented on #31
Clarifying that this session is open to anyone, and specifically addresses MozFest 2016. We'll share plans that emerged from the retreat, and give staff and idea of what to expect and how to plug in.

[2016-05-19 13:54] HolaHewitt commented on #15
I see this as two complimentary methodologies.   The on-boarding guide could be enhanced with this info but sometimes its the questions people ask that aren't even considered by our team.

[2016-05-19 15:05] thornet opened #38 "Hubs: Collaboration R(ioT). Identifying opportunities with other hubs"
## Description:

A brainstorming and roadmapping session with hub leads, hub team members and others interested in identifying collaboration opportunities among, across, in between and sideways with the learning network hubs.

### Time requirements:
1 hour

### Space requirements:

1-2 tables and up to 10 chairs

### Required attendees:

Delegates from each of the hubs:
* Learning
* Policy & Advoc

[2016-05-19 15:18] thornet opened #39 "Internet of Things hub: drop-in maker clinic"
## Description:

Are you interested in learning & making away from keyboard? This zone will be kitted out with hardware, craft materials and other rapid prototyping tools to help you take your idea from post-it to reality.

Bring a fresh idea hatched at the all-hands, or something you've been mulling over for a while, and we'll help you turn it into something physical that helps others understand,

[2016-05-19 18:01] Melechuga opened #40 "Open Web Fellows + Advocacy Network: H2 + 2017 planning"
## Description:
Planning out H2 goals/deliverables for the Advocacy Network, including OWF program (but excluding Field at the moment), and

### Time requirements:
2-3 hours.
### Space requirements:
A room; whiteboard + walls for sticking stuff would be great.
### Required attendees:
@vanessarhinesmith, melissa
### Optional attendees:

### Dependencies: (Other sessions that need to happen before t

[2016-05-19 18:51] OpenMatt opened #41 "Leadership Network: deeper dive and next steps"
## Description:
*Our leadership network is full of stories.* We're prototyping and testing a "story engine" to surface and collect them in more systematic ways, to provide the mix of qualitative + quantitative data, evidence narratives and human impact we need to increase our empathy and understanding for the people we serve.

### Time requirements:
60 or 90 mins.

### Space requirements:
Enough r

[2016-05-19 19:10] OpenMatt commented on #39
@thornet this is so awesome. Do you want MoCos to come too? If so, you can add it in Sched so that the rest of Mozilla knows this is happening.
http://mozillalondonallhands2016.sched.org/.

[2016-05-19 21:25] KatieMitch opened #42 "IoT Chattanooga 48HR Launch: hack jam"
## Description:
I'd like to use this face time to sort through communications and staff details for the September IoT event in Chattanooga. The gives us all a chance to walk through the event (as best we can) before the call goes out to applicants in early July.

### Time requirements:
1 hour

### Space requirements:
none

### Required attendees:
@thornet @edrushka

### Optional attendees:
@jamjwa

[2016-05-19 23:26] valianttry commented on #41
You should def. invite Stephanie, she holds a lot of our donor stories.

[2016-05-20 00:50] omnignorant commented on #42
woohoo! ALSO, we've been confirmed for an IOT elective on Wed at 3:00pm at the London All Hands. This could be a great place for this planning team to playtest some things early on! I need to purchase or collect up equipment for that ASAP. Should I start a separate issue and CC you guys to it or would it be worth tracking that here? cc: @jvallera

[2016-05-20 01:10] jvallera commented on #42
Nice! I love when timing works out like this. Sounds like the IOT elective would be a great lead up to your event @KatieMitch Happy to help as needed.

[2016-05-20 10:31] thornet commented on #39
@OpenMatt thank you! yes, would love to open it up to all Mozillians. I'll add it to Sched.

FYI, I'm talking with the Connected Devices team about possibly co-locating the clinic in their homeroom, as it could be a complement to their ideation sessions.

[2016-05-20 15:45] KevZawacki opened #43 "Comms Council conversation"
## Description:

Copywriters, storytellers, and communicators from various corners of the Foundation have historically used the twice-monthly Comms Counsil to catch up and talk comms broadly.

In Q2 and beyond, I'm hoping we can continue in a way that's productive for all. That means sharing our work; determining how it overlaps and how we can collaborate; and workshopping items that need an extra

[2016-05-23 13:44] lauradereynal commented on #37
@samanthaburton here is the ticket we had to make an all-hand session on DSO

[2016-05-23 16:47] thornet commented on #42
Great idea! Count me in. Also @ileddigital should join.

[2016-05-23 16:48] thornet commented on #42
@omnignorant let's start a separate thread about materials. Fill free to add suggestions to #39.

[2016-05-23 16:51] thornet commented on #38
@OpenMatt I changed the title of this session since it's about finding collaboration points across hubs and doing some shared roadmapping. Let me know if there's a better way to describe cross-team session in the tiles!

cc @ldecoursy who's also helped with scheduling this one.

[2016-05-23 17:01] mcdermott415 commented on #38
Yes!

On Mon, May 23, 2016 at 12:56 PM, Michelle Thorne notifications@github.com
wrote:

[2016-05-24 18:09] lauradereynal commented on #37
@OpenMatt How do we know if/when a session is happening ? I'd like to start reaching out to people to make sure they can attend it. Also would like to add it to my calendar :D

[2016-05-24 18:15] lauradereynal commented on #37
Updated the description to relfect our discussion from last week. Now needs a more detailed workshop scoping.

[2016-05-24 19:03] ldecoursy commented on #27
This is not currently on the draft schedule. I think @kaythaney said it could be part of the time Science team has all together in the mornings

[2016-05-24 19:03] #26 closed

[2016-05-25 12:17] Saallen commented on #35
@edrushka Spoke to ravensbourne and we must be there between 4pm and 5pm on Tuesday, or before 5pm on any other day

[2016-05-25 13:03] ldecoursy commented on #35
Tuesday at that time is MoFo All-Hands. I put this in the schedule for Wednesday afternoon - does that work? Or would Thursday be better?

[2016-05-25 23:01] edrushka commented on #35
@Saallen if we leave the All Hands venue at 12:30, can we be back by 2:45? If not, we should schedule this for elective time so don't miss any afternoon sessions.

[2016-05-26 09:13] Saallen commented on #35
@edrushka it will take 45mins to get there and we will want at least 45min there to see the entire building and  ask some questions. It would be tight but we could do it

[2016-05-26 14:22] xmatthewx commented on #35
I'm not sure that I can miss the post-lunch sessions. I have a strong memory of the space. I also don't think that it is critical for me to attend. I'd be glad to go later in the afternoon.

We might invite Kristina to attend in case @lovegushwa isn't able to lead the design refresh.

[2016-05-26 18:50] KevZawacki opened #44 "Communications: Internal comms for 2020 strategy"
## Description:
A brief meeting between @samanthaburton, Lotta Rao, and myself to discuss the [2020 strategy draft internal comms plan](https://docs.google.com/document/d/18430lvrZkMRZvMQiS9l4UcytswnFZimBfSfaeAoQ23o/edit#)

### Time requirements:
30 minutes

### Space requirements:
Any space will do!

### Required attendees:
Sam, Lotta, Kevin

### Optional attendees:

### Dependencies: (Other sess

[2016-05-26 19:02] xmatthewx commented on #1
cc @kristinashu @sabrinang @natalieworth @flukeout - let's continue to discuss!!

[2016-05-26 20:07] OpenMatt commented on #16
@HolaHewitt @aplohman probably a good idea to flag key attendees you want for this in advance. So that you can reach out to them and answer questions / communicate the value, etc., before London.

[2016-05-27 14:20] OpenMatt opened #45 "Operations team kick-off"
## Description:
* Gather as a group and kick off the week

### Time requirements:
* 60 - 90 mins
### Space requirements:
* Room for 6 people
### Required attendees:
* Entire Operations team
### Optional attendees:

[2016-05-27 14:21] OpenMatt opened #46 "Operations “nest-building session”"
## Description:
Make a plan and start building our "nest" / booth

### Time requirements:
90 mins

### Space requirements:

### Required attendees:
All of Operations team
### Optional attendees:

### Dependencies: (Other sessions that need to happen before this one)

[2016-05-27 14:27] OpenMatt opened #47 "Operations Q2 Program Review deep dive"
## Description:
Have a chat about deep dive for program review. Key challenges, what we learned, look ahead to H2, etc.

### Time requirements:
90 mins - 2 hours

### Space requirements:
Room for 4 / 5 people.

### Required attendees:
Angela, Matt, Michael, Pamela, Lotta

What’s the “deep dive” topic / key challenges?
What were the key highlights and learnings from Q2?
What’s the high-level H2 loo

[2016-05-27 14:28] OpenMatt opened #48 "HR deep dive"
## Description:
A chance for Michael + Mandy to work on HR issues face to face.

### Time requirements:
? @Michaelaukland what are you thinking here?

### Space requirements:
None

### Required attendees:
Michael + Mandy

### Optional attendees:
@Michaelaukland any others you want to add?
### Dependencies: (Other sessions that need to happen before this one)

[2016-05-27 14:42] OpenMatt opened #49 "Strategic Plan: communications strategy"
## Description:
Discuss the internal / overall communications strategy for the Strategic Plan

### Time requirements:
60 - 90 mins

### Space requirements:
Informal

### Required attendees:
@KevZawacki @Lottarao @samanthaburton

### Optional attendees:

[2016-05-27 14:47] samanthaburton commented on #49
Hey @OpenMatt - @KevZawacki actually already logged this session [here](https://github.com/MozillaFoundation/MoFoLondon/issues/44).

[2016-05-27 14:47] #49 closed

[2016-05-27 19:34] Melechuga opened #50 "Fellowship Contracting"
## Description:
A time to talk about the how to implement certain stops laid out in the MOUs and Agreements -- e.g. if lobbying is involved in the fellowship work. Assuming Abigail Phillips will be joining us in London. This might be combined with the larger Fellowship meeting we already have scheduled.

### Time requirements:
1hr
### Space requirements:
4-6ppl
### Required attendees:
@vanessarhin

[2016-05-27 20:13] aplohman commented on #45
Required: @Lottarao

[2016-05-27 20:52] samanthaburton commented on #13
@OpenMatt just flagging that I changed the session title (was state of the web), format and attendees a per our chat today

[2016-05-27 21:04] ldecoursy commented on #39
@thornet Any update on whether we need to make space for this in our homeroom, or if you'll be located with Connected Devices (and do we know if they're in the same hotel)?

[2016-05-27 21:16] ldecoursy commented on #10
@edrushka @arlissc Checking back on this - I think scoping it out would be helpful at this point anyway :) Currently in the calendar on Fri at 11:30 for 60 minutes. Let me know if that works...

[2016-05-27 21:19] ldecoursy commented on #8
@auremoser @zee-moz @arlissc In Kaitlin's absence, are you able to answer the above q's? Do you know if this is scoped out somewhere?

It's currently in the schedule for Wednesday at 1 for 90 minutes.

[2016-05-27 21:34] edrushka commented on #10
Sorry, didn't see @kaythaney's earlier Q.

No, there are no other times where broader convenings planning and strategy convos are happening -- the London convos we have planned are largely about MozFest, IOT and production planning.

@kaythaney and @arlissc I think this conversation is best had with the data and metrics team, as our strategy hasn't expanded to include a lot of work on tracking par

[2016-05-27 21:38] edrushka commented on #35
@kristinashu if we can make it work are you interested in attending? Is there a day you can slip away during the electives slot in the later afternoon? I forget - have you seen the venue before?

[2016-05-27 21:51] kristinashu commented on #35
@edrushka I was at the last MozFest but I'm game to check out the venue again. As far as I know, my elective time is free so anytime should work.

[2016-05-27 21:58] edrushka commented on #35
@Saallen I suggest we do this during the end-of-day elective time (Wed or Thur at 2:45). It won't be fair to anyone if we accidentally take too long at Ravensbourne and all show up late to the afternoon sessions.

[2016-05-27 22:44] shaghdoosti commented on #25
Moving this to 10 - 12 on Thursday so the participation team can join us.

[2016-05-27 22:46] shaghdoosti commented on #18
Time in the spreadsheet works for this conversation.

[2016-05-27 22:47] shaghdoosti commented on #17
I've put this on Wednesday for an hour -- but we can move the tech conversation before it.

[2016-05-28 00:47] auremoser commented on #8
I can try:
- @hannahkane 's suggested attendees are welcome (cc @sabrinang , @flukeout , @Pomax ) but not obliged.
- @soapdog we have 2 community members joining us (Anna + Rob) mentioned in the original request, one runs a study group and the other is a research member of our Open Leadership Cohort, so I think that's some newbie perspective, but if you can think of someone else you'd like to see

[2016-05-28 01:13] Michaelaukland commented on #48
I think four hours will be good.

[2016-05-30 14:20] thornet commented on #39
We're in the same hotel (thank the lord!), but awaiting confirmation. I
should know in a day or so.

On Fri, May 27, 2016 at 10:04 PM, Lainie DeCoursy notifications@github.com
wrote:

##

_Michelle Thorne_
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2016-05-30 15:08] Saallen commented on #35
Cool @edrushka We should go Wednesday then as Thursday the college has their graduation show and we don't to be too disruptive on an already very busy day

[2016-05-31 11:30] KevZawacki commented on #35
@edrushka +1 to end-of-day elective time

[2016-05-31 16:55] kaythaney commented on #10
let's find time to get some convenings team + @arlissc time, as data and
metrics is her wheelhouse now (and our main impact metrics for community
engagement come straight from convenings).

@edrushka - do you have a broader strategy for convenings resourcing +
scoping or is the team's work largely reactive / pinned to bigger events?

On Fri, May 27, 2016 at 5:34 PM, Erika Drushka notifications@git

[2016-05-31 17:05] natalieworth commented on #1
I feel a postmortem and discussion/ documentation of a future shared vision could be beneficial. I wasn't here for Whistler, but I think looking towards our expectations to how MLN and Advocacy will work together under MoFo would help move us forward (and maybe how we can continue collaborating through the design repo?). We could possibly reflect on our principles/ branding/ org structure and then

[2016-05-31 17:10] natalieworth commented on #1
Maybe we could somehow incorporate a design jam or hack into this so we could creatively document what we get out of our time together?

[2016-05-31 18:34] ldecoursy commented on #8
@amirad @jvallera Are there RCs attending that should join this?

[2016-05-31 18:40] amirad commented on #8
Does this happen after our clubs deep dive? We will be covering many onboarding and infastructure requirements in our clubs session.

[2016-05-31 18:43] ldecoursy commented on #8
It does. Clubs deep dive, then lunch, then this...  https://docs.google.com/spreadsheets/d/19lBkFBuPecVtD5IuXefbaxm-13vpfZknuXWlF3gYI-0/edit#gid=512500479

[2016-05-31 18:53] amirad commented on #8
Wonderbar. We can do that and share some of our discussion here. Do you know who is running/organizing this meeting? Is that you @kaythaney ? Would love to sync up on objectives!

[2016-05-31 21:16] edrushka commented on #10
I put us in for 2:00 - 2:30 on Thursday after the Science Wow/Chicago/MozFest session, since that slot was blank cc @ldecoursy

[2016-05-31 21:27] ldecoursy commented on #10
@edrushka @kaythaney Current placeholder already in there for Friday 11:30-12:30 (Called MLN Metrics & Convenings - but someone tell me if it should be called something else) :)

[2016-05-31 21:30] shaghdoosti commented on #23
Had a conversation with @valianttry -- this was an idea to keep in mind. Closing for now.

[2016-05-31 21:30] #23 closed

[2016-05-31 21:31] shaghdoosti commented on #19
Had a chat to @valianttry this can be done virtually. Closing.

[2016-05-31 21:31] #19 closed

[2016-05-31 21:31] shaghdoosti commented on #18
This is on the agenda.

[2016-05-31 21:32] edrushka commented on #10
Ok. Thanks Lainie! I'll remove the Thursday session I added.

[2016-05-31 21:38] valianttry commented on #21
@OpenMatt and @samanthaburton and @stephaniemcv and @mmmari I'm going to schedule a quick chat for us to talk about some of the findings we might be able to share here.

[2016-05-31 22:00] ldecoursy commented on #33
@zee-moz @chadsansing Currently booked some time for this on Thurs and Fri https://docs.google.com/spreadsheets/d/19lBkFBuPecVtD5IuXefbaxm-13vpfZknuXWlF3gYI-0/edit#gid=514358606

That said, we don't have a separate room for this, and I'm not sure we will. Might need to scope out a spot when we get there. As backup, can you bring a microphone? Also, we can only hang things on the wall with painter'

[2016-06-01 13:56] ldecoursy commented on #21
Is this connected to #13?

If not, we'll need to add to the schedule somewhere.

[2016-06-01 13:59] ldecoursy commented on #27
@kaythaney Is that still ok with you? Or can you see where else this might fit with Science sched for the week? Let me know...

[2016-06-01 14:00] samanthaburton commented on #21
It isn't right now - #13 is focused on sharing & aligning story gathering processes, while it looks like this one is sharing & analyzing data we already have.

[2016-06-01 14:03] ldecoursy commented on #32
On our sched from 10:30-11:30 on Thursday. @edrushka or @Saallen mind checking with Phia that this works for Mark and to get it on his calendar?  If it needs to move to a different time pls let me know.

[2016-06-01 14:03] Saallen commented on #32
Will do @ldecoursy

[2016-06-01 14:17] ldecoursy commented on #45
@OpenMatt Assuming you want this on Wed am? It's not yet in the calendar

[2016-06-01 14:19] ldecoursy commented on #50
@Melechuga @kaythaney Can this happen as part of the Fellowships session on Wednesday? See #7

Otherwise we'll need to find another day/time. Perhaps during electives on Wed or Thurs.

[2016-06-01 14:23] Saallen commented on #22
@mcdermott415 I am in

[2016-06-01 14:23] ldecoursy commented on #21
I might suggest we do this during Wed or Thurs elective time. Any preferences?

[2016-06-01 14:25] Saallen commented on #31
@edrushka we should put this on Sched so all Mozilla can come- what do you think?

[2016-06-01 15:28] edrushka commented on #31
Sure. It's from 1:30 - 2:30 on Friday. We can also advertise this session on the project call on Monday when we announce the call for proposals.

[2016-06-01 15:52] xmatthewx commented on #1
Our lists for betterfaster follow up might be useful for our chats in London: https://github.com/MozillaFoundation/Design/issues/161

[2016-06-01 16:09] kaythaney commented on #27
no worries! we can address in our H2 planning timeblock. :)

On Wed, Jun 1, 2016 at 9:59 AM, Lainie DeCoursy notifications@github.com
wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2016-06-01 16:15] ldecoursy commented on #27
OK - closing this ticket. Thanks!

[2016-06-01 16:15] #27 closed

[2016-06-01 16:49] Saallen opened #51 "MozFest- Comms Planning"
## Description:
What is MozFest? How best to share our story, the festival value and attract new attendees.
A session to discuss our comms plan for MozFest 2016 and the value of introducing a Marketing team to the festival.

### Time requirements:
1 hour

### Space requirements:
3 chairs

### Required attendees:
@KevZawacki @edrushka

### Optional attendees:

### Dependencies: (Other sessions that

[2016-06-01 16:53] ldecoursy commented on #51
We can also add to the schedule on Wed after lunch if that works for you all.

[2016-06-01 16:54] Saallen commented on #51
@ldecoursy Wednesday we are at Ravensbourne College- Elective time Thursday I think works best

[2016-06-01 17:45] kaythaney commented on #50
Let's put this as an agenda item for our Wednesday block of time for
Fellowships (1030-12 GMT). Big themes for that are unified fellowship
plans, shared/joint onboarding and process stuff (like this).

@melechuga - could you reach out to abigail (phillips) to see if she can
join for some of that time?

On Wed, Jun 1, 2016 at 10:19 AM, Lainie DeCoursy notifications@github.com
wrote:

##

@kaythaney

[2016-06-01 17:46] ldecoursy commented on #14
Add @stephwright

[2016-06-01 17:52] kaythaney commented on #8
Would love for @auremoser + @amirad  to lead this, with @zee-moz supporting to speak to onboarding work for our side (maybe Caro or Julia on the Clubs side).

@auremoser + @amirad - let me know if co-leading is OK with both of you!

[2016-06-01 18:27] amirad commented on #8
WFM

[2016-06-01 18:42] ldecoursy commented on #6
@kaythaney Should we add this to Sched for all-mofo? Or do you prefer to extend invite just to Participation and MDN?

[2016-06-01 18:43] ldecoursy commented on #8
@mcdermott415 probab good for some Hivers to attend too?

[2016-06-01 18:49] ldecoursy commented on #9
@stephwright @kaythaney Just realizing this is broader than the science team. Would Thursday during elective time work for this?

[2016-06-01 18:52] ldecoursy commented on #24
Will you want to add this to Sched so others can join? Note there is no small, quiet room for this from what I can tell...

[2016-06-01 19:04] ldecoursy commented on #39
@thornet The rooms will be locked at night, but if you have anything valuable it's suggested you store it in someone's hotel room.

Also note that all MLN sessions will happen in the main MoFo space (that's 50-ish people huddled in smaller groups). Any update on whether or not this can be done in the Connected Devices space? I'm a little concerned if it needs to happen in our homeroom and we invit

[2016-06-01 20:25] kaythaney commented on #6
All MoFo is a _great_ idea, if there's time. Thanks, Lainie!

On Wed, Jun 1, 2016 at 2:42 PM, Lainie DeCoursy notifications@github.com
wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2016-06-01 20:55] stephwright commented on #9
Thursday elective time would be great if there's a slot for it!

[2016-06-01 21:53] auremoser commented on #8
@amirad @zee-moz @kaythaney I put together an agenda with sections for some basics on the Study Groups, OLC. Feel free to fill in the Clubs section @amirad (line 36) , and add whatever agenda items you think are appropriate (line 32).

https://public.etherpad-mozilla.org/p/mofo-communities

[2016-06-01 22:57] Michaelaukland opened #52 "HR Comms planning"
## Description:
Time for Lotta and Michael to talk through

### Time requirements:
Up to 3 hours

### Space requirements:
N/A

### Required attendees:
Michael and Lotta

### Optional attendees:
Mandy

### Dependencies: (Other sessions that need to happen before this one)

[2016-06-02 02:57] Michaelaukland opened #53 "HR - MoFo & MoCo Manager Training Mash"
## Description:
To get together and talk about structure and scope of manager training

### Time requirements:
2 hours

### Space requirements:
N/A

### Required attendees:
Lisa Mroz, Michael Aukland

### Optional attendees:
Mandy Rawlings

### Dependencies: (Other sessions that need to happen before this one)

[2016-06-02 02:59] Michaelaukland opened #54 "HR - ATS MoFo Workflow Design"
## Description:
To build custom workflows for recruitment process within GreenHouse

### Time requirements:
2 hours

### Space requirements:
N/A

### Required attendees:
Michael Aukland, Mandy Rawlings, Rachel Berenbaum

### Optional attendees:
N/A

### Dependencies: (Other sessions that need to happen before this one)

[2016-06-02 09:46] chadsansing commented on #24
I think we can add it; maybe we can use the same space as the olc video booth.

[2016-06-02 12:43] lauradereynal commented on #37
https://docs.google.com/document/d/1uqghfppei4a-absSUHRyDuV2gkgYO1XpJVee_KcDJew/edit?ts=574d8990#

[2016-06-02 12:45] lauradereynal commented on #8
@kaythaney Im interested to attend as well.
We have a looooot of community work with our project in Kenya and this seems like a cross-org collaboration opportunity

cc @secretrobotron

[2016-06-02 14:26] mcdermott415 commented on #8
Thanks Lainie. I'll let folks know about the session. M

On Thu, Jun 2, 2016 at 8:45 AM, Laura de Reynal notifications@github.com
wrote:

[2016-06-02 14:39] OpenMatt commented on #54
@Michaelaukland what's ATS?

[2016-06-02 16:54] auremoser commented on #8
Yeah @LauraReynal ! All welcome. Also, interested in connecting with you on Kenya as we'll be there late July.

[2016-06-02 18:34] Michaelaukland commented on #54
@OpenMatt Applicant Tracking System AKA recruitment / talent platform

[2016-06-02 19:26] samanthaburton commented on #44
@ldecoursy this was the session I mentioned during the meeting this aft, which says it's in the Thurs block but in the schedule it looks like Lotta is meeting with Michael at that time.

[2016-06-02 19:27] xmatthewx commented on #13
Adding @Lottarao as an optional attendee.

[2016-06-03 13:04] amirad commented on #8
Thanks @auremoser - added notes to the pad but will ping you later to talk through more details of the flow!

[2016-06-03 15:18] kaythaney commented on #38
Count me in! And thanks for suggesting, @thornet !

[2016-06-03 17:10] mcdermott415 commented on #38
Can't remember if I replied - yes please!

On Fri, Jun 3, 2016 at 11:18 AM, Kaitlin Thaney notifications@github.com
wrote:

[2016-06-03 19:28] ldecoursy commented on #28
@kaythaney What are the science volunteers' names? So I can add them to the schedule app ;)

[2016-06-03 19:34] ldecoursy commented on #20
@mcdermott415 Should I add Erika/Sarah as optional here? (given potential convenings as topic)?

[2016-06-03 20:02] kaythaney commented on #28
Rob Schaefer, Anna Krystalli and Christie Bahlai (our fellow). :) Thank
you! Let me know if you need emails.

On Fri, Jun 3, 2016 at 3:28 PM, Lainie DeCoursy notifications@github.com
wrote:

##

@kaythaney http://twitter.com/kaythaney/
@MozillaScience http://twitter.com/mozillascience

[2016-06-03 21:22] ldecoursy commented on #8
@mcdermott415 Can you let me know who from Hive might be attending this so I can add them to the schedule app?

[2016-06-03 21:30] ldecoursy commented on #10
@kaythaney Can you update the description above based on the notes - then I can port it into the schedule app.

@mcdermott415 let me know who from learning should attend this one.

[2016-06-03 21:37] kaythaney commented on #10
done! let me know if you need anything else!

[2016-06-03 21:45] ldecoursy commented on #33
@chadsansing @zee-moz We're starting to add names to the schedule app so folks know where they're required/requested. Do you have a list of names yet as per the note in the original comment or will it be more spontaneous than that?

[2016-06-03 21:47] ldecoursy commented on #34
@omnignorant Any specific names of other folks that are required? (I'll add them to the schedule app). Thanks!

[2016-06-03 21:54] ldecoursy commented on #38
Please let me know if this ends up being a hub lead convo, or if other reps from the hubs should attend. Will be helpful as we're adding names to the schedule app :)

[2016-06-03 23:08] amirad commented on #38
Count me in!

[2016-06-04 00:19] mcdermott415 commented on #20
Yes please.

On Fri, Jun 3, 2016 at 3:34 PM, Lainie DeCoursy notifications@github.com
wrote:

[2016-06-04 00:23] Melechuga commented on #38
Already have it on my calendar; woot! (^.^)/

[2016-06-04 00:49] mcdermott415 commented on #10
Jenn Beard and Hana Sun, Kenyatta Forbes.

On Fri, Jun 3, 2016 at 5:37 PM, Kaitlin Thaney notifications@github.com
wrote:

[2016-06-04 00:50] mcdermott415 commented on #8
I don't know - I shared with group as voluntary session, but Hana and
Kenyatta might find value.

On Fri, Jun 3, 2016 at 5:22 PM, Lainie DeCoursy notifications@github.com
wrote:

[2016-06-06 09:57] chadsansing commented on #33
How about Robert (types of convenings), Hannah (GitHub for project management), and Caro (documentation tips) this go-around? Maybe Sarah or Erika on the importance of convenings, too. What do you think @zee-moz?

[2016-06-06 14:19] Saallen commented on #32
@ldecoursy this is in Marks calendar . Any changes and I will let you know 💯

[2016-06-06 14:48] Saallen commented on #35
Site visit confirmed for 14:45 on Wednesday .
I have submitted these names for access to the college. If anyone else wants to join please let me know as I have to submit their names ahead of our arrival
**### list so far**
Sarah Allen
Erika Drushka
Jordan Gushwa
Kristina Shu
Kevin Zawacki
Matthew Wilse
Luca Damiani

[2016-06-06 17:27] thornet commented on #39
Good news! This is confirmed for the CD homeroom. No need to worry about it in the MoFo space.

[2016-06-06 17:27] #39 closed

[2016-06-06 17:35] samanthaburton commented on #30
@xmatthewx description & invitees still to be migrated to app

[2016-06-06 17:36] samanthaburton commented on #13
@xmatthewx session still to be migrated to app

[2016-06-06 18:14] xmatthewx commented on #13
Okay. I've added it to the spreadsheet. You should see it in the app after we update it later today.

[2016-06-06 18:54] omnignorant commented on #34
Thanks for asking @ldecoursy I think the Optional attendees are probably the only folks that need to be there, but of course EVERYONE is welcome to join. So maybe we add them to required instead of optional? I just wasn't sure how we were designating this... I'll make an edit to reflect this.

[2016-06-06 19:21] ldecoursy commented on #33
Currently have 30 minutes on Thurs and 60 minutes on Fri - still need both?

[2016-06-06 19:28] ldecoursy commented on #50
Once we're sure this is on your agenda for the Wed block, let's close this issue ;)

[2016-06-06 19:42] zee-moz commented on #33
@chadsansing @ldecoursy That list sounds about right to me-- and I think we will need those chunks of time to allow people to work through their content and rehearse. I don't have a mic to bring, as mentioned in the thread above, but we may have resources to buy one, as we may be doing more media production at MSL as part of trainings-- @kaythaney I will check in with you about this.

[2016-06-07 01:34] valianttry commented on #21
Here is a quick hits list of stuff we can share (this is no doubt forgetting good stuff):
- Desk.com feedback data: https://docs.google.com/document/d/1zpCE_Csbttnb5reIWBJVEaqO4QW6SG_qkcKXPUN-D2M/edit
- Why do donors donate to Mozilla: https://fundraising.mozilla.org/why-did-you-decide-to-donate-today/
- Make up of our donors (demographics) charts at: https://fundraising.mozilla.org/
- Demographic

[2016-06-07 04:25] anmechung commented on #14
workshop ppt: https://docs.google.com/presentation/d/1AxmzHikx-gbuPITdfiEZyBuNLL9T3nysXj-Pnu2uc3U/edit#slide=id.g134da3362e_0_8

[2016-06-07 14:53] ldecoursy commented on #14
I just added that to the auto-generated etherpad for this session from our schedule app :)  That's here: https://public.etherpad-mozilla.org/p/mofolondon-mlnfundraisinggrantmanagement Please use that link moving forward.

[2016-06-07 14:59] anmechung commented on #14
Great!  adding @KalpanaSimhan @jessiekeating @metaphorista (Lynn)

[2016-06-07 20:58] edrushka commented on #16
This has been migrated to the schedule app. If you have further edits that need to be relflected in the app, ping Matthew W., Mavis or ErikaD.

[2016-06-08 12:46] thornet commented on #38
cc @stephwright as well

[2016-06-08 17:38] kaythaney commented on #10
@ldecoursy @xmatthewx - possible to list arliss as the lead on this in the app?

[2016-06-08 18:20] ldecoursy commented on #10
@kaythaney Done!

[2016-06-09 16:35] xmatthewx commented on #25
I see this listed on Thurs at 1pm in the spreadsheet and the app. Is that correct?

[2016-06-09 16:37] xmatthewx commented on #21
This is not currently listed in the schedule spreadsheet or app. Is that okay? Should we close this?

[2016-06-09 16:50] valianttry commented on #21
Yes -- in the meeting you couldn't make we decided this should wait until Hawaii. No one had enough capacity to pull the data together ahead of time.

Thanks @OpenMatt

[2016-06-09 17:37] OpenMatt commented on #13
let's use this for our agenda: http://workopen.org/stories

[2016-06-09 19:30] xmatthewx commented on #13
pad moved to https://public.etherpad-mozilla.org/p/story. link is in the schedule app.

[2016-06-10 12:05] omnignorant commented on #34
Hi all, made some updates to what we'll be doing during this time. I'll send a calendar invite to lock it down shortly.

[2016-06-10 12:08] SuAdams commented on #34
So looking forward to seeing/hearing the results of this planning session! @jvallera keep your eyes peeled for anyone there who can help with our exciting design plans ;)

[2016-06-10 12:14] techkim commented on #34
I think it would be really great if you all captured some short video invitations to share out! @KevZawacki is that possible?

[2016-06-10 13:44] KevZawacki commented on #34
Sure -- if you're able to record a CTA video, we can publish on our [MozFest Medium publication](https://medium.com/mozfest-2016).

[2016-06-10 16:47] jvallera commented on #34
Working doc where we are keeping design notes and plans - Started by @SuAdams and I https://docs.google.com/document/d/1q1x06Bp0r7nGiILNRCRrpuhO1xtxoRrmG__ltu9xtWA/edit?usp=sharing

[2016-07-07 22:20] kristinashu commented on #1
More things we want to discuss:
![design-london-notes](https://cloud.githubusercontent.com/assets/1068783/16671767/3f906ba6-4456-11e6-9566-948b3d294eaf.jpg)

[2016-08-08 17:06] #50 closed

[2016-08-08 17:08] #40 closed